body {
    margin: 0;
    padding: 0;
}
a {
    color: gray;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    font-size: 40px;
    align-items: center;
}
